
/*invincible*/
::-webkit-scrollbar {
  display: none;

}

.error-div {
  text-align: center;
  padding-top: 10%;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.listItem {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  background-color: #dfdede;
  box-shadow: 0.5px 0.5px 0.5px #a0a0a0;
  text-align: left;
}

.listBox {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0.5px 0.5px 0.5px #a0a0a0;
  margin-bottom: 10px;
  text-align: center;
}