.headerUl {
  display: flex;
  justify-content: space-between;
  padding-inline: 20%;
  text-decoration: none;
}

.listItem {
  color : white;
  transition: all 0.5s;
}

.listItem:hover {
  color: whitesmoke;
  transform: scale(1.25); /*Scale the item without affecting layout*/
  /*Make transition smooth*/
  transition: all 0.5s;
}

.link {
  color: white;
  text-decoration: none;
}

.nav {
  width: 100%;
}

.header {
  position: relative;
  background-color: #2d2d35;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}
