.footer {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  background-color: var(--color-dark);
  padding: 20px;
  height: 10vh;
  min-height: 80px;
}

.footerContainer {
  margin-top: 40px;
}

.img {
  transition: transform 0.3s ease;
}

.img:hover {
  transform: scale(1.1);
}

.socialsBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
  width: 100%;
  gap: 40px;
}

.copyrightBox {
  display: flex;
  color: white;
  justify-content: flex-start;
  width: 100%;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 15px;
    gap: 15px;
  }

  .copyrightBox,
  .socialsBox {
    justify-content: center;
    padding: 0;
  }

  .socialsBox {
    gap: 20px;
  }
}