
.listItem {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    background-color: #dfdede;
    box-shadow: 1px 1px 1px #000000;
    text-align: left;
}

.topicList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.topic {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
}