
.footer {
  display: flex;          /* Enables flexbox */
  position: fixed;
  bottom: 0;
  align-items: center;    /* Aligns items vertically */
  width: 100%;            /* Full width */
  background-color: #2d2d35;
  padding: 20px;          /* Padding around the container */
  height: 10vh;
}

.footerContainer {
  margin-top: 200px;
}

.img:hover {
  transform: scale(1.1);
  animation: all 0.5s;
}

.img {
  animation: all 0.5s;
}

.socialsBox {
  display: flex;          /* Enables flexbox */
  align-items: center;
  justify-content: right; /* Centers items horizontally */
  padding-right: 40px;
  width: 100%;
  gap: 40px;
}

.copyrightBox {
  display: flex;          /* Enables flexbox */
  color: white;           /* Text color */
  justify-content: left; /* Centers items horizontally */
  width: 100%;
}

